@font-face {
    font-family: "MHFont";
    src: url("../resources/fonts/MHFont.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto+Condensed&family=Rubik:wght@400;500&display=swap');

h1 {
    font-size: 1rem;
}

h2 {
    font-size: 2rem;
}