@font-face {
  font-family: "MHFont";
  src: url("/resources/fonts/MHFont.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: white;
  font-size: calc(15px + 0.4vw);
  
  /* color palette */
  --green: #5cc454;
  --whitegreen: #deffdb;
  --orange: rgba(230,60,35,1);
  --text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 3px black, 0 0 3px black;
  --bg: url('./resources/images/blue_background.jpg');
  --blue-box: rgba(0, 20, 50, 0.7);
  --cursor: url('./resources/cursors/mhw_cursor.png'), auto;
  --pointer: url('./resources/cursors/mhw_pointer.png'), auto;
  --logo: url('./resources/images/mh4u_logo.png');
}

body {
  font-size: calc(15px + 0.390625vw);
  cursor: var(--cursor);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 100%;
  filter: brightness(60%) saturate(180%);
  z-index: -1;
}

.menu-btn {
  position: absolute;
  top: 0;
  right: 40px;
  width: 80px;
  height: 100px;
  color: white;
  text-transform: uppercase;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 10px;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease;
  z-index: 100;
  user-select: none;
}

.menu-btn:hover {
  cursor: var(--pointer);
  color: gold;
}

.menu-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg);
  background-size: 300%;
  background-position-x: 100%;
  filter: hue-rotate(150deg) saturate(1.5) brightness(66%);
  z-index: -1;
}

.menu-btn::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background-image: var(--logo);
  background-size: 60px;
  background-repeat: no-repeat;
  filter: brightness(500%);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease;
  background-color: rgb(20 , 20, 20);
}

.open-menu {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.menu ul li {
  display: flex;
  width: 100%;
  justify-content: center;
}

.menu ul li a {
  display: flex;
  width: 25%;
  padding: 0.5em 0;
  margin: 0.5em;
  transition-property: opacity, margin-left, color;
  transition-duration: 0.2s, 0.25s, 0.2s;
  transition-timing-function: ease;
  transition-delay: calc(0.1s + 0.1s * var(--i)), calc(0.1s + 0.1s * var(--i)), 0s;
  margin-left: -100px;
  opacity: 0;
}

.menu ul li a:hover {
  cursor: var(--pointer);
  color: gold;
}

.show-text {
  opacity: 1 !important;
  margin-left: 0 !important;
}