@font-face {
  font-family: "MHFont";
  src: url("/resources/fonts/MHFont.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: white;
  
  /* color palette */
  --green: #5cc454;
  --whitegreen: #deffdb;
  --text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 3px black, 0 0 3px black;
  --bg: url("./resources/images/blue_background.jpg");
  --cursor: url("./resources/cursors/mhw_cursor.png"), auto;
  --pointer: url("./resources/cursors/mhw_pointer.png"), auto;
}

body {
  font-size: 1em;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  cursor: var(--cursor);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./resources/images/blue_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 100%;
  filter: brightness(60%) saturate(180%);
  z-index: -1;
}

.menu-btn {
  position: fixed;
  top: 0;
  right: 3em;
  width: 15%;
  aspect-ratio: 1/1.33;
  background-image: var(--bg);
  background-size: 400%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 40%;
  filter: hue-rotate(150deg) brightness(70%) contrast(110%);
  z-index: 100;
}

.menu-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transform-origin: center;
  transform: scaleX(1.15) scaleY(1.1);
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  transform: translateX(100%);
  transition: all 0.5s ease;
}

.menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #082668;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23001441' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23001745' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23001441' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23001745' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23031A49' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23001441' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23001745' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23031A49' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23001745' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23001441' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23031A49' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23001441' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23031A49' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23001745' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23031A49' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

.is-open {
  transform: translateX(0%);
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  height: 10em;
  z-index: 3;
  backdrop-filter: brightness(0.8) contrast(1.2);
}

.menu a {
  padding: 1em 1.5em;
  position: relative;
  font-family: "Libre Baskerville";
  font-weight: 700;
  text-shadow: var(--text-shadow);
}

.menu a::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -20%;
  height: 25%;
  width: 25%;
  background-image: url("./resources/images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.2s ease;
}

.menu a:hover::before {
  opacity: 1;
  left: -10%;
}

.menu .title {
  margin: 1em;
  font-size: 2rem;
}

.menu .title::before {
  width: 100%;
  top: -20%;
  left: 0;
}

@media screen and (max-width: 767px) {
  
  .menu-btn {
   right: 1em;
  }
  
  .menu-btn::before {
    border: 1px solid blue;
  }

}
