$text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 3px black, 0 0 3px black;
$bg: url('/resources/images/blue_background.jpg');
$bg-page: url('../../resources/images/bg_page.jpg');
$blue-box: rgba(0, 20, 50, 0.7);
$cursor: url('/resources/cursors/mhw_cursor.png');
$pointer: url('/resources/cursors/mhw_pointer.png');
$logo: url('/resources/images/mh4u_logo.png');
$bg-brown: url('/resources/images/bg_brown.jpg');