$gold: #ffd700;
$dark-brown: hsl(9, 23%, 5%);
$brown: hsl(12, 15%, 15%);
$light-brown: hsl(12, 15%, 25%);
$green: hsl(116, 49%, 55%);
$white-green: hsl(115, 100%, 93%);
$orange: hsl(8, 80%, 52%);
$shadow: rgba(0, 0, 0, 0.33);
$error: hsl(354, 100%, 50%)