$gold: hsl(51, 100%, 50%);
$dark-brown: hsl(9, 23%, 5%);
$brown: hsl(12, 15%, 15%);
$light-brown: hsl(12, 15%, 25%);
$white-green: hsl(115, 100%, 93%);
$orange: hsl(8, 80%, 52%);
$shadow: rgba(0, 0, 0, 0.33);
$error: hsl(354, 100%, 50%);

$red: hsl(0, 75%, 50%);
$yellow: hsl(50, 75%, 50%);
$green: hsl(115, 75%, 50%);
$blue: hsl(245, 75%, 50%);
$purple: hsl(290, 75%, 50%);