@use "../abstracts/colors";
@use "../abstracts/assets";


.title-wrapper {
  display: flex;
  width: 100vw;
  height: max-content;
}

.title {
  display: flex;
  flex-direction: column;
  width: clamp(500px, 55vw, 55vw);
  height: max-content;
  background-color: #130D0C;
  align-self: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.66);

    h1 {
      font-size: 4rem;
      font-family: 'Rubik';
      transform: skewX(-10deg);
      -webkit-transform: skewX(-10deg);
      margin: 1rem 0 0 1.5rem;  
    }

    p {
      justify-self: flex-start;
      width: 75%;
      margin: 1rem 0 0 1.5rem;  
    }

    .sign-up {
      position: relative;
      align-self: flex-end;
      margin-top: 1.8rem;
      margin-bottom: 1.5rem;
      margin-right: calc(10vw + 1.5rem);
      // padding: 0.5rem 1.5rem;
      font-weight: 300;
      transition: all 0.2s ease;


      a {
        position: relative;
        padding: 0.5rem 1.5rem;
        border: 1px solid white;
        background-color: black;

        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.66);
          border-color: colors.$gold;
          color: colors.$gold;

            &::before {
              border-color: colors.$gold;
              top: -5px;
              left: -5px;
              width: calc(100% + 9px);
              height: calc(100% + 9px);    
            }
            &::after {
              border-color: colors.$gold;
              bottom: -5px;
              right: -5px;
              width: calc(100% + 9px);
              height: calc(100% + 9px);    
            }
        }


        &::before {
          content: '';
          position: absolute;
          top: 3px;
          left: 3px;
          width: 7px;
          height: 7px;
          border-top: 1px solid white;
          border-left: 1px solid white;
          transition: all 0.3s ease;
          pointer-events: none;
        }

        &::after {  
          content: '';
          position: absolute;
          bottom: 3px;
          right: 3px;
          width: 7px;
          height: 7px;
          border-bottom: 1px solid white;
          border-right: 1px solid white;
          transition: all 0.3s ease;
          pointer-events: none;
        }

      }
      

    }
}

.intro {
  display: flex;
  flex-direction: column;
  margin-left: -10vw;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  width: 55vw;
  height: 350px;
  background-image: assets.$bg-brown;
  align-self: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.66);

  h1 {
    width: 90%;
    height: max-content;
    text-align: justify;
    line-height: 1.75rem;
  }
}

@media screen and (max-width: 1000px){
  .title-wrapper {
    flex-direction: column;
  }

  .title {
    width: 100vw;
    text-align: center;

    h1 {
      margin: 2rem 0 0 0;
      width: max-content;
      align-self: center;
    }

    p {
      align-self: center;
      width: 75%;
      margin: 1rem 0 0 0;
    }

    .sign-up {
      align-self: center;
      margin: 2rem 0 2rem 0;
    }
  }
  
  .intro {
    height: max-content;
    margin: 0;
    width: 100%;

    h1 {
      align-self: center;
      width: 75%;
      margin: 2rem 0 2rem 0;
      text-align: justify;
    }
  }

}