@use "../abstracts/colors";
@use "../abstracts/assets";

.relic-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.weapon-select {
    display: flex;
    flex-direction: row;
    width: calc(500px * 1.66);
    height: 50px;
    margin: 0;
    margin-bottom: 10px;
    gap: 10px;

    div {
        height: 100%;
        aspect-ratio: 1/1;
        background-color: colors.$light-brown;
        box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.66);
        transition: all 0.2s ease;
    }
}

.main-window {
    display: grid;
    margin: 0;
    height: 500px;
    aspect-ratio: 1.66/1;
    background: colors.$brown;
    border-radius: 1px;
}

// Classes

.selected {
    height: 120% !important;
    aspect-ratio: 1/1 !important;
    background-color: colors.$brown !important;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 20px;
        background-color: colors.$brown;
    }
}

.gs {
    background-image: assets.$gs;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ls {
    background-image: assets.$ls;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sns {
    background-image: assets.$sns;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.db {
    background-image: assets.$db;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.h {
    background-image: assets.$h;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hh {
    background-image: assets.$hh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lance {
    background-image: assets.$lance;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gl {
    background-image: assets.$gl;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sa {
    background-image: assets.$sa;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.cb {
    background-image: assets.$cb;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.ig {
    background-image: assets.$ig;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.bow {
    background-image: assets.$bow;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lbg {
    background-image: assets.$lbg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}