@use "../abstracts/colors";
@use "../abstracts/assets";
@use "../components/slider";

.relic-page {
    display: flex;
    flex-direction: column;
    height: max(calc(500px + 50px + 10px), 100vh);
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.weapon-select {
    display: flex;
    flex-direction: row;
    width: calc(500px * 1.66);
    height: 49.3px;
    margin: 0;
    margin-bottom: 10px;
    gap: 10px;
    z-index: 1;
    
    div {
        height: 100%;
        aspect-ratio: 1/1;
        background-color: colors.$light-brown;
        box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.66);
        transition: all 0.2s ease;
    }

    .other {
        display: grid;
        place-items: center;

        span {
            position: relative;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
            pointer-events: none;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -12px;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: white;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 12px;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: white;
            }
        }
    }

}

.main-window {
    display: grid;
    height: 500px;
    grid-template-columns: 40% 40%;
    justify-items: start;
    align-content: start;
    justify-content: space-around;
    aspect-ratio: 1.66/1;
    background: colors.$brown;
    border-radius: 1px;
    z-index: 2;

    .weapon-wrapper {
        display: flex;
        flex-direction: row;
        justify-items: flex-start;
        width: 100%;
        height: max-content;
        margin-top: 10%;

        .weapon-preview {
            width: 125px;
            height: 125px;
            background: colors.$light-brown;
            border-radius: 2px;
    
            &:hover {
                cursor: assets.$pointer;
            }
        }
    }

    .colors {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 125px;
        height: 20px;
        grid-column: 1;
        margin-top: 10px;

        div {
            height: 20px;
            width: 20px;
            transition: all 0.2s ease;

            &:hover {
                cursor: assets.$pointer;
            }
        }

        .red {
            background-color: colors.$red;
        }

        .yellow {
            background-color: colors.$yellow;
        }

        .green {
            background-color: colors.$green;
        }

        .blue {
            background-color: colors.$blue;
        }

        .purple {
            background-color: colors.$purple;
        }

    }
}

// Classes

.selected {
    height: 120% !important;
    aspect-ratio: 1/1 !important;
    background-color: colors.$brown !important;
    position: relative;
}

.selected-color {
    box-shadow: inset 0px 0px 0px 2px white, inset 0px 0px 3px 2px black;
}

.gs {
    background-image: assets.$gs;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ls {
    background-image: assets.$ls;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sns {
    background-image: assets.$sns;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.db {
    background-image: assets.$db;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.h {
    background-image: assets.$h;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hh {
    background-image: assets.$hh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lance {
    background-image: assets.$lance;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gl {
    background-image: assets.$gl;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sa {
    background-image: assets.$sa;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.cb {
    background-image: assets.$cb;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.ig {
    background-image: assets.$ig;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.bow {
    background-image: assets.$bow;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lbg {
    background-image: assets.$lbg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hbg {
    background-image: assets.$hbg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}