@use "../abstracts/colors";
@use "../abstracts/assets";

.slider {
    cursor: assets.$pointer;
    background: colors.$light-brown;
    height: 125px;
    width: 15px;
    margin-left: 10px;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    z-index: 1;
    -webkit-appearance: slider-vertical;

    --pos: ;
    --color: ;
    --step: ;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 15px;
        height: var(--step);
        background-color: var(--color);
        transition: background-color 0.2s ease;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: var(--pos);
        left: -2px;
        width: 15px;
        height: 15px;
        background: white;
        border: 2px solid colors.$dark-brown;
        border-radius: 2px;
    }

    // Mozilla slider
    &::-moz-range-thumb {
        border-radius: 2px;
        height: 15px;
        width: 15px;
        border: 2px solid colors.$dark-brown;
    }

    &::-moz-range-progress {
        background: var(--color);
        width: 100%;
        transition: all 0.2s ease;
    }

    // Chrome slider
    &::-webkit-slider-runnable-track {
        width: 15px;
        background-color: colors.$light-brown;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border-radius: 2px; 
        background: white;
        margin-left: -3px;
        height: 20px;
        width: 20px;
        border: 2px solid colors.$dark-brown;
    }
}