@use "../abstracts/colors";
@use "../abstracts/assets";

.slider {
    cursor: assets.$pointer;
    background: colors.$light-brown;
    height: 15px;
    width: 392px;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    z-index: 10;

    --step: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: var(--step);
        background: red;
    }

    // Mozilla slider
    &::-moz-range-thumb {
        border-radius: 2px;
        height: 15px;
        width: 15px;
        border: 3px solid colors.$dark-brown;
    }

    &::-moz-range-progress {
        background: red;
        height: 100%;
    }

    // Chrome slider
    &::-webkit-slider-runnable-track {
        height: 15px;
        background-color: colors.$light-brown;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border-radius: 2px; 
        background: white;
        margin-top: -3px;
        height: 20px;
        width: 20px;
        border: 3px solid colors.$dark-brown;
    }
}