@use "../abstracts/assets";

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    cursor: assets.$cursor;
}

body {
    font-size: max(calc(15px + 0.390625vw), 30px);
    display: flex;
    flex-direction: column;
    height: 100%;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: assets.$bg-page;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* filter: brightness(80%) saturate(1) contrast(1.3); */
        z-index: -1;
    }
}